<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div id="main-wraper">
{% include 'banner.html' %}
{% include 'nav.html' %}
<div id="mid-wraper">

<div class="about-mid-wraper-top">

<div class="mid-leftouter">

<div class="mid-left-container">
<h1><span class="yellow-heading">{{ category.name }} ({{ drills|length }} drills)</span></h1>
{% if drills|length == 0 %}
<p class="left-bullet">No items</p>
{% endif %}

{% for i in drills %}
<p class="left-bullet"><a href = "{{url_for('showDrill', drill_id=i.id)}}"> {{i.name}}</a></p>
<a href='{{url_for('editDrill', drill_id=i.id ) }}' >Edit</a>
</br>
<a href='{{url_for('deleteDrill', drill_id=i.id ) }}' >Delete</a>
</br>
</br>
{% endfor %}
</div>

</div><!-- mid-left-outer -->

<div class="right-container">
<div class="right-container-top">
<h3><span class="yellow-heading">Add new drill</span></h3>
<a href='{{url_for('newDrill', category_id = category.id) }}' >Click here</a>
</div>
</div><!-- right-container -->

</div><!-- mid-wraper-top -->

<div class="mid-wraper-bttm"><img src="../static/about-mid-bttm.jpg" alt=""></div>
</div><!-- mid-wraper -->

{% include 'footer.html' %}
</div><!-- main-wraper -->
</body>

</html>
