<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
<div id="main-wraper">
{% include 'banner.html' %}
{% include 'nav.html' %}

<div class="about-mid-wraper-top">
<div class="about-mid-leftouter">
<div class="about-mid-left-container">
<h1><span class="yellow-heading">Categories</span></h1>

{% for category in categories %}
<p class="left-bullet"><a href = "{{url_for('showCategory', category_id = category.id)}}"> {{category.name}}</a></p>
{% endfor %}

</div>
</div>
</div>
<div class="mid-wraper-bttm"><img src="../static/about-mid-bttm.jpg" alt=""></div>


{% include 'footer.html' %}
</div>
</body>

</html>
