<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hockey Drill DB by Eduardo Paz Orduña</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div id="main-wraper">
{% include 'banner.html' %}
{% include 'nav.html' %}
<div id="mid-wraper">

<div class="mid-wraper-top">

<div class="mid-leftouter">

<div class="mid-left-container">
{% include 'welcome.html' %}
</div>

<!--div class="mid-left-container" style="margin-top: 10px;">
<div class="inner-left">
<h2>Abo<span class="yellow-heading">ut</span></h2>
<div style="border-right: 1px solid rgb(153, 153, 153); width: 294px; float: left; padding-right: 12px;">
<p>Project developed for Udacity Full Stack Web Developer Nanodegree by Eduardo Paz Orduña.<br>
<br>
</p>
<p>The purpose of this website is to allow users view/publish/edit hockey drills. You can login with Google Authentication System.<br>
<br>
</p>
</div>
</div>
<div class="inner-right">
<h2>Recent <span class="yellow-heading">Drills</span></h2>
<div style="width: 290px; float: left; padding-left: 8px;">
<p class="left-bullet">Drill "1on1" by User Edu</p>
<br>
<br>
<strong><a href="#" class="read-more">read more...</a></strong>
</div>
</div>
</div-->

</div><!-- mid-left-outer-->

<div class="right-container">
<div class="right-container-top">
<h3><span class="yellow-heading">Random categories picks</span></h3>
<ul>
  {% for category in categories %}
  <li><a href = "{{url_for('showCategory', category_id = category.id)}}"> <p>{{category.name}}</p></a></li>
  {% endfor %}
<strong><a href="{{url_for('showCategories')}}" class="read-more">read more...</a></strong>
</ul>
</div>
<div class="right-container-dwn">
<h4>Random drill picks</h4>
{% for drill in random_drills %}
<li><a href = "{{url_for('showDrill', drill_id = drill.id)}}"> <strong>{{ drill.name }}</strong></a> by {{ drill.user.name }}.</li>
{% endfor %}
<br>
<!--strong>15.04.2010</strong> Lorem Ipsum is simply dummy text of the
printing and typesetting industry. Lorem Ipsum has been.<br>
<br-->
<!--strong><a href="#" class="read-more-right">read more...</a></strong-->
</div>
</div><!-- right-container -->

</div><!-- mid-wraper-top-->

<div class="mid-wraper-bttm"><img src="../static/mid-bttm.jpg" alt=""></div>
</div><!-- mid-wraper-->
{% include 'footer.html' %}
</body></html>