<h1>Welcome to <span class="yellow-heading">Hockey Drills DB</span></h1>
<p>Hockey Drills DB is a site to help coaches shared hockey drills
among their fellow colleagues.<br><br>
Project developed for Udacity Full Stack Web Developer Nanodegree by Eduardo Paz Orduña.<br>
The purpose of this website is to allow users view/publish/edit hockey drills. You can login with Google Authentication System.
<br>
<br>
</p>
<p>The site is organized in categories and drills.</p>
</p>
<p>The site has been developed using.</p>
<p class="left-bullet">Vagrant</p>
<p class="left-bullet">Flask</p>
<p class="left-bullet">SQLAlchemy</p>
<p class="left-bullet">Google Authentication</p>